<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852038579598-hc2ujnfhc5i8e2n93o5ldd1vni3doaks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852038579598-hc2ujnfhc5i8e2n93o5ldd1vni3doaks</string>
	<key>API_KEY</key>
	<string>AIzaSyDk-VXn_DIlfwtdYzeOTvZAD14W35YHSuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>852038579598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.Salah.Azoz.iChat</string>
	<key>PROJECT_ID</key>
	<string>ichat-1d7e5</string>
	<key>STORAGE_BUCKET</key>
	<string>ichat-1d7e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852038579598:ios:4354012ab1d4c5f630e0df</string>
</dict>
</plist>